body {
    color: #444444;
}

.inner,
.container {
    width: 1200px;
    margin: 0 auto;
}

.tit {
    line-height: 1;
}

.flex {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.sec {
    padding: 100px 0;
}

/* * {
    outline: 1px solid #333;
} */

/* μ„Έν… css */

.header {
    position: relative;
    line-height: 100px;
}

.header .inner {
    position: fixed;
    display: flex;
    width: 100%;
    background: #f9f9f9;
    z-index: 1000;
}

.header h1 {
    display: block;
    padding: 0 100px;
    transform: translate(0, -5px);
}

.header h1 img {
    width: 125px;
}

.header ul {
    gap: 50px;
}

.header .gnb .s_menu::after {
    content: "\e943";
    font-family: xeicon !important;
    display: inline-block;
    top: 0;
    right: 0;
    color: #555;
    padding-left: 5px;
    transition: 0.5s;
}

.header .gnb .s_menu:hover::after {
    transform: translate(5px, 0) rotate(180deg);
}

.header .gnb .s_m {
    line-height: 1.625;
}

.header .gnb .s_m {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background: #f9f9f9;
    padding: 0 100px 50px 320px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 999;
}

.header .gnb .s_m li {
    flex: 1;
}

.header .gnb .s_m>li {
    font-size: 30px;
    line-height: 2.3;
}

.header .gnb .s_m li>ul>li {
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
}


.header .gnb .s_menu01:hover .model {
    display: flex;
}

.header .gnb .model li {
    text-align: center;
    font-weight: 300;
}

.header .gnb .model strong {
    font-size: 16px;
    margin-bottom: 10px;
}

.header .gnb .model p {
    font-size: 13px;
    margin-bottom: 10px;
}

.header .gnb .model figure {
    margin-bottom: 10px;
}

.header .gnb .model img {
    width: 200px;
}

.header .gnb .model .btn {
    width: 100%;
    font-size: 15px;
}

.header .gnb .model .btn a {
    display: block;
    width: 150px;
    margin: 0 auto;
    line-height: 30px;
    border-radius: 5px;
}

.header .gnb .model .btn01 a {
    border: 1px solid #333;
    margin-bottom: 10px;
}

.header .gnb .model .btn02 a {
    background: #333;
    color: #fff;
    font-weight: 300;
}

/* .gnb .model */

.header .gnb .s_menu02:hover .shop {
    display: flex;
}

/* .gnb .shop */

.header .gnb .s_menu03:hover .ownership {
    display: flex;
}

/* .gnb .ownership */

.header .gnb .s_menu04:hover .brand {
    display: flex;
}

/* .gnb .brand */

.header .gnb .s_menu .shop a::after,
.ownership a::after,
.brand a::after {
    content: "\e940";
    font-family: xeicon !important;
    font-size: 16px;
    padding-left: 5px;
}

.header .inner .right_category {
    position: absolute;
    top: 50px;
    right: 100px;
    transform: translate(0, -50%);
    gap: 100px;
}

/* header} */
.mainSlide {
    padding: 100px 0 0 0;
}

.mainVisual .mainSlide .itm {
    height: calc(100vh - 100px);
    position: relative;
}

.mainSlide .itm::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent 70%, rgba(0, 0, 0, 0.6));
}

.mainSlide .itm01 {
    background: url(../img/mainVisual01.webp) no-repeat center center/cover;
}

.mainSlide .itm02 {
    background: url(../img/mainVisual02.webp) no-repeat center center/cover;
}

.mainSlide .itm03 {
    background: url(../img/mainVisual03.webp) no-repeat center center/cover;
}

.mainSlide .itm04 {
    background: url(../img/mainVisual04.webp) no-repeat center center/cover;
}

.mainSlide .itm05 {
    background: url(../img/mainVisual05.webp) no-repeat center center/cover;
}

.mainSlide .itm06 {
    background: url(../img/mainVisual06.webp) no-repeat center center/cover;
}

.mainSlide .tit {
    position: absolute;
    display: flex;
    /* align-items: flex-end; */
    gap: 60px;
    bottom: 0;
    left: 100px;
    z-index: 999;
    height: 170px;
}

.mainSlide .tit strong {
    position: relative;
    font-size: 70px;
    font-weight: 500;
    color: #fff;
    letter-spacing: -2px;
    transform: translate(0, 50px);
    opacity: 0;
    transition: 0.5s;
}

.mainSlide .itm.on .tit strong {
    transform: translate(0, 0);
    opacity: 1;
}

.mainSlide .tit strong::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -30px;
    width: 1px;
    height: 170px;
    background: #fff;

}

.mainSlide .tit p {
    color: #fff;
    transform: translate(0, 100px);
    font-size: 20px;
    opacity: 0;
    transition: 0.5s;
}

.mainSlide .itm.on .tit p {
    transform: translate(0, 50px);
    opacity: 1;
}

.mainSlide a {
    position: absolute;
    display: block;
    bottom: 130px;
    right: 100px;
    transform: translate(-50, 0);
    line-height: 40px;
    text-align: center;
    width: 150px;
    background: #f9f9f9;
    border-radius: 5px;
    z-index: 999;
}

.mainVisual .mainSlide .slick-arrow {
    position: absolute;
    top: calc(50% + 50px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    background: none;
    border: none;
    font-size: 0;

    width: 50px;
    height: 50px;

    border-top: 2px solid rgba(255, 255, 255, 0.7);
    border-left: 2px solid rgba(255, 255, 255, 0.7);
}

.mainVisual .mainSlide .slick-prev {
    transform: translate(-50%, -50%) rotate(-40deg);
    margin: 0 0 0 -860px;
}

.mainVisual .mainSlide .slick-next {
    transform: translate(-50%, -50%) rotate(135deg);
    margin: 0 0 0 860px;
}

.mainVisual .mainSlide .slick-dots {
    position: absolute;
    bottom: 100px;
    right: 100px;
}

.mainVisual .mainSlide .slick-dots>li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 8px;
    background: transparent;
    border: 1px solid #f9f9f9;
    border-radius: 50%;
}

.mainVisual .mainSlide .slick-dots>li.slick-active {
    background: #f9f9f9;
}

.mainVisual .mainSlide .slick-dots>li button {
    display: none;
}

.mainVisual .control {
    position: absolute;
    bottom: 97px;
    right: 238px;
    font-size: 0;
    border: none;
    background: transparent;
}

.mainVisual .control::before {
    content: "\ea3c";
    font-family: xeicon !important;
    font-size: 20px;
    color: #fff;
}

.mainVisual .control.on::before {
    content: "\ea3f";
}

.mainVisual .down {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
    color: #f9f9f9;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.mainVisual .icon i {
    line-height: 0.25;
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.mainVisual .icon {
    margin-bottom: 10px;
}

/* mainVisual */

.main_con {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    line-height: 1.625;
}

.main_con .con {
    flex: 1 1 30%;
    text-align: center;
    border: 1px solid #ddd;
    padding: 40px;
}

.main_con .con img {
    max-width: 100%;
}

.main_con .con .top {
    font-size: 30px;
    margin-bottom: 20px;
}

.main_con .con .middle,
.bottom {
    margin-bottom: 20px;
}

.main_con .con .bottom {
    height: 76px;
}

.main_con .con .img {
    margin-bottom: 40px;
}

.main_con .con .btn {
    width: 100%;
}

.main_con .con .btn a {
    display: block;
    width: 150px;
    margin: 0 auto;
    line-height: 40px;
    border-radius: 5px;
}

.main_con .con .btn01 a {
    border: 1px solid #333;
    margin-bottom: 10px;
}

.main_con .con .btn02 a {
    background: #333;
    color: #fff;
}

/* mainContent */

.main_banner {
    display: flex;
}

.main_banner .m_b {
    position: relative;
    flex: 1;
    padding: 300px 100px;
}

.main_banner .m_b::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: 0.45s;
}

.main_banner .m_b:hover::before {
    background: rgba(0, 0, 0, 0.6);
}

.main_banner .m_b .top {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #f9f9f9;
    margin-bottom: 20px;
    opacity: 0;
    transition: 0.45s;
}

.main_banner .m_b:hover .top {
    opacity: 1;
}

.main_banner .m_b .bottom {
    position: relative;
    text-align: center;
    color: #f9f9f9;
    margin-bottom: 20px;
    line-height: 1.625;
    opacity: 0;
    transition: 0.45s;
}

.main_banner .m_b:hover .bottom {
    opacity: 1;
}

.main_banner .m_b01 {
    background: url(../img/banner01-gt.jpg) no-repeat center center/cover;
}

.main_banner .m_b02 {
    background: url(../img/banner02-modena.jpg) no-repeat center center/cover;
}

.main_banner .m_b03 {
    background: url(../img/banner03-trofeo.jpg) no-repeat center center/cover;
}

/* mainBanner */

.main_bc {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}

.main_bc .con_left {
    grid-column: 1/5;
}

.main_bc .con_left img {
    max-width: 100%;
}

.main_bc .con_right {
    grid-column: 5/7;
    padding: 60px 30px;
    border: 2px solid #555;
    line-height: 1.625;
}

.main_bc .con_right .tit {
    font-size: 25px;
    margin-bottom: 25px;
}

.main_bc .con_right .txt {
    font-size: 15px;
    margin-bottom: 35px;
}

.main_bc .con_bottom .name {
    position: relative;
    font-size: 18px;
}

.main_bc .con_bottom a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #444444;
}

.main_bc .con_bottom .place,
.num {
    font-size: 15px;
}

.footer {
    padding: 50px 0;
    background: #333;
    text-align: center;
    color: #f9f9f9;
    font-weight: 300;
    line-height: 1.625;
}

.ft_logo {
    margin-bottom: 30px;
}

.ft_logo img {
    width: 120px;
}

.footer .ft>ul>li {
    display: inline-block;
    padding: 0 20px;
}

.footer .ft_btm ul li:nth-child(1) {
    font-weight: 500;
}