body {
    color: #444444;
}

.inner,
.container {
    width: 1200px;
    margin: 0 auto;
}

.tit {
    line-height: 1;
}

.flex {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.sec {
    padding: 100px 0;
}

/* μ„Έν… css */

.header {
    position: relative;
    line-height: 100px;
}

.header .inner {
    position: fixed;
    display: flex;
    width: 100%;
    background: #f9f9f9;
    z-index: 999;
}

.header h1 {
    display: block;
    padding: 0 100px;
    transform: translate(0, -5px);
}

.header h1 img {
    width: 125px;
}

.header ul {
    gap: 50px;
}

.header .inner .right_category {
    position: absolute;
    top: 50px;
    right: 100px;
    transform: translate(0, -50%);
    gap: 100px;
}

/* header} */
.mainSlide {
    padding: 100px 0 0 0;
}

.mainVisual .mainSlide .itm {
    height: calc(100vh - 100px);
    position: relative;
}

.mainSlide .itm::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent 70%, rgba(0, 0, 0, 0.6));
}

.mainSlide .itm01 {
    background: url(../img/mainVisual01.webp) no-repeat center center/cover;
}

.mainSlide .itm02 {
    background: url(../img/mainVisual02.webp) no-repeat center center/cover;
}

.mainSlide .itm03 {
    background: url(../img/mainVisual03.webp) no-repeat center center/cover;
}

.mainSlide .itm04 {
    background: url(../img/mainVisual04.webp) no-repeat center center/cover;
}

.mainSlide .itm05 {
    background: url(../img/mainVisual05.webp) no-repeat center center/cover;
}

.mainSlide .itm06 {
    background: url(../img/mainVisual06.webp) no-repeat center center/cover;
}

.mainSlide .tit {
    position: absolute;
    display: flex;
    /* align-items: flex-end; */
    gap: 60px;
    bottom: 0;
    left: 100px;
    z-index: 999;
    height: 170px;

}

.mainSlide .tit strong {
    position: relative;
    font-size: 70px;
    font-weight: 500;
    color: #fff;
    letter-spacing: -2px;
    transform: translate(0, 50px);
    opacity: 0;
    transition: 0.5s;
}

.mainSlide .itm.on .tit strong {
    transform: translate(0, 0);
    opacity: 1;
}

.mainSlide .tit strong::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -30px;
    width: 1px;
    height: 170px;
    background: #fff;

}

.mainSlide .tit p {
    color: #fff;
    transform: translate(0, 100px);
    font-size: 20px;
    opacity: 0;
    transition: 0.5s;
}

.mainSlide .itm.on .tit p {
    transform: translate(0, 50px);
    opacity: 1;
}

.mainSlide a {
    position: absolute;
    display: block;
    bottom: 130px;
    right: 100px;
    transform: translate(-50, 0);

    line-height: 40px;
    text-align: center;
    width: 150px;
    background: #f9f9f9;
    border-radius: 5px;

    z-index: 999;
}

.mainVisual .mainSlide .slick-arrow {
    position: absolute;
    top: calc(50% + 50px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    background: none;
    border: none;
    font-size: 0;

    width: 50px;
    height: 50px;

    border-top: 2px solid rgba(0, 0, 0, 0.7);
    border-left: 2px solid rgba(0, 0, 0, 0.7);
}

.mainVisual .mainSlide .slick-prev {
    transform: translate(-50%, -50%) rotate(-40deg);
    margin: 0 0 0 -860px;
}

.mainVisual .mainSlide .slick-next {
    transform: translate(-50%, -50%) rotate(135deg);
    margin: 0 0 0 860px;
}

.mainVisual .mainSlide .slick-dots {
    position: absolute;
    bottom: 100px;
    right: 100px;
}

.mainVisual .mainSlide .slick-dots>li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 12px;
    background: transparent;
    border: 1px solid #f9f9f9;
    border-radius: 50%;
}

.mainVisual .mainSlide .slick-dots>li.slick-active {
    background: #f9f9f9;
}

.mainVisual .mainSlide .slick-dots>li button {
    display: none;
}

/* mainVisual */

.main_con {
    display: flex;
    flex-wrap: wrap;
}

.main_con .con {
    flex: 1 1 30%;
    text-align: center;
}

.main_con .con img {
    max-width: 100%;
}

.main_con .con .top {
    font-size: 30px;
    margin-bottom: 50px;
}

.main_con .con .midle,
.bottom {
    margin-bottom: 30px;
}

.main_con .con .img {
    margin-bottom: 40px;
}

.main_con .con .btn {
    width: 100%;
}

.main_con .con .btn a {
    display: block;
    width: 150px;
    margin: 0 auto;
    line-height: 40px;
    border-radius: 5px;
}

.main_con .con .btn01 {
    margin-bottom: 20px;
}

.main_con .con .btn01 a {
    border: 1px solid #333;
    margin-bottom: 20px;
}

.main_con .con .btn02 a {
    background: #333;
    color: #fff;

}